body {
  background-image: url("../images/grassland.jpg");

}

header{
  text-align: center;
  font-size: 64px;
  font-family: 'Fascinate Inline', cursive;
  color: chocolate;
  letter-spacing: 8px;
  padding: 20px;
}

main {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-family: fantasy;
  font-size: 30px;
  font-weight: 900;
  color: darkmagenta;
}

button {
  width: 360px;
}

#stopwatch {
  font-family: 'Courgette', cursive;
  color: blueviolet;
}

.choice {
  font-family: monospace;
}

.scoreboard {
  font-family: 'Permanent Marker', cursive;
  color: darkmagenta;
}




img{
  width: 240px;
  height: 240px;
}


.record{
  font-family: 'Pacifico', cursive;
  font-size: 36px;
  text-align: center;
  color: green;
}
